.mobile-nav {
  background: #fff;
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 9;
  color: #000;
  font-weight: 700;
  box-shadow: 0px 0px 23px rgb(0 0 0 / 8%);
}

.bloc-icon {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.bloc-icon img {
  /*width: 30px;*/
}

@media screen and (min-width: 600px) {
  .mobile-nav {
  display: none;
  z-index: 0;
  }
}
@media screen and (max-width: 600px) {
  .fr-bottom {
  display: none;
  }
}
@media (min-width: 320px) and (max-width: 575.8px){
/*.sb-header.transparent {
    position: fixed;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 8%);
    background: #fff;
}*/
.sb-header .logo {
  padding: 10px 0;
}
}
